@import url("./style.css");

section {
    flex-direction: row;
    justify-content: space-between;
}

section>article {
    display: flex;
    flex-direction: column;
    width: 45%;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    padding: 10px;
    background-color: var(--nav-bg-color);
}

section>article>h2 {
    text-align: center;
}

section>article>ul {
    list-style: none;
    align-items: center;
}

section>article>ul>li {
    margin-top: 10px;
}

section>article>ul>li span {
    font-style: italic;
}

section>article>ul>li a {
    display: flex;
    align-items: center;
}

section>article>ul>li img {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}