@import url("./style.css");

section {
    flex-direction: row;
    justify-content: space-between;
}

section>article {
    display: flex;
    flex-direction: column;
    width: 45%;
    border-radius: 10px;
    border: var(--border);
    padding: 10px;
    background-color: var(--nav-bg-color);
}

section>article>h2 {
    text-align: center;
}