@import url("./style.css");

section {
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--nav-bg-color);
    border: var(--border);
    border-radius: 10px;
    overflow: hidden;
}

article>h2 {
    margin: 0;
    padding: 20px;
}

#internships {
    display: flex;
    flex-direction: row;
    border-top: var(--border);
}

.internship:first-child {
    border-right: var(--border);
}

.internship {
    display: flex;
    flex-direction: column;
    width: 50%;
}

article a {
    margin: 0;
    padding: 20px;
    text-decoration: none;
    color: var(--color);
}

article a:hover {
    background-color: var(--color);
    color: var(--nav-bg-color);
}

article>p {
    text-indent: 2em each-line;
    text-align: justify;
    margin: 0;
    padding: 20px;
}

#CVs {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
}

.CV {
    display: flex;
    border-radius: 10px;
    height: 160px;
    width: 160px;
    padding: 5px;
    transition: all 0.5s ease;
}

.CV:hover {
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
}

.CV svg {
    position: relative;
    left: 5px;
    top: 5px;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}