@import url("./style.css");

#projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--nav-bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.project-card:hover {
    transform: translateY(-10px);
}

.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-bar a {
    width:auto;
}

.title-bar img {
    width: 50px;
}

.language-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}