@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    /* outline: red solid 1px; */
    transition: color 0.1s, background-color 0.3s;
}

:root {
    --bg-color: whitesmoke;
    --nav-bg-color: #043382;
    --color: whitesmoke;
    --footer-border-color: rgb(200, 200, 200);
    --border: 2px solid black;
}

.dark-theme {
    --bg-color: #1a1a1a;
    --nav-bg-color: darkslateblue;
    --color: white;
    --footer-border-color: rgb(100, 100, 100);
    --border: 2px solid whitesmoke;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--color);
    font-family: "Roboto", sans-serif;
    padding-top: 10vh;
}

section {
    position: relative;
    height: auto;
    width: 70%;
    display: flex;
    margin-top: 5%;
}