* {
    /* outline: red solid 1px; */
    transition: color 0.1s, background-color 0.3s;
}

:root {
    --bg-color: whitesmoke;
    --nav-bg-color: lightblue;
    --color: black;
    --footer-border-color: rgb(200, 200, 200);
    --border-color: black
}

.dark-theme {
    --bg-color: #1a1a1a;
    --nav-bg-color: darkslateblue;
    --color: white;
    --footer-border-color: rgb(100, 100, 100);
    --border-color: white /* TODO: find right color */
}