<ul>
    <li><a data-lang="nav-home" href="/html/home.html">Home</a></li>
    <li><a data-lang="nav-professional" href="/html/professional.html">Professional</a></li>
    <li><a data-lang="nav-projects" href="/html/projects.html">Projects</a></li>
</ul>
<div id="switches">
    <label id="theme-label">
        <input type="checkbox" id="theme-switch">
        <span></span>
    </label>
    <label id="lang-label">
        <input type="checkbox" id="lang-switch">
        <span></span>
    </label>
</div>