<ul>
    <li><a data-lang="nav-home" href="/html/home.html"></a></li>
    <li><a data-lang="nav-professional" href="/html/professional.html"></a></li>
    <li><a data-lang="nav-projects" href="/html/projects.html"></a></li>
    <li><a data-lang="nav-mobility" href="/html/mobility.html"></a></li>
    <li><a data-lang="nav-civic-engagement" href="/html/civic-engagement.html"></a></li>
    <li><a data-lang="nav-contact" href="/html/contact.html"></a></li>
</ul>
<div id="switches">
    <label id="theme-label">
        <input type="checkbox" id="theme-switch">
        <span></span>
    </label>
    <label id="lang-label">
        <input type="checkbox" id="lang-switch">
        <span></span>
    </label>
</div>